html {
    color: #2f4f4f;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.darkmode {
    background-color: black;
    color: white;
}

/* Header Styling */

header {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* About Me Section Styling */

.about_me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 20px;
}

.profile_pic {
    border-style: double;
    margin: 20px;
}

.profile_pic>img {
    height: 400px;
    width: 600px;
}

.bigcard {
    border-style: solid;
    border-color: #2f4f4f;
    border-radius: 10px;
}

/* Skills Section Styling */

.skills {
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skillcard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.smallcard {
    border-style: solid;
    border-radius: 10px;
    border-color: #2f4f4f;
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smallcard>p {
    padding: 5px;
}

.smallcard:hover {
    background-color: gray;
}

.language {
    height: 50px;
    width: 50px;
}


/* Education Section Styling */

.education {
    display: flex;
    width: 75%;
    /* border-style: solid; */
    justify-content: space-around;
    flex-direction: row;
    margin: 25px;
    padding: 10px;
    align-items: center;
    padding: 25px;
}

.mediumcard {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

/* Project Section Styling */

.projects {
    display: flex;
    /* border-style: solid; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 10px;
}

.projectcard {
    border-radius: 10px;
    border-style: solid;
    border-color: #2f4f4f;
    padding: 25px;
    margin: 25px;
}

/* Experience Section Styling */

.experience {
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.largishcard {
    border-radius: 10px;
    border-style: solid;
    border-color: #2f4f4f;
    margin: 20px;
    padding: 20px;
}

.experience>h2 {
    margin: 20px;
}

/* Connection Section Styling (Footer) */

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
}

.socials {
    display: flex;
    flex-direction: row;
}

/* Bonus Stuff for Fun */

.hidden {
    visibility: hidden;
}

button {
    border-radius: 10px;
    border-style: solid;
}

button:hover {
    background-color: bisque;
}
